    <div class="container">
        <p id="token" class="d-none">{{token}}</p>
        <h1>Restablece tu Contraseña</h1>
        <form id="reset-password-form">
            <div class="mb-3">
        
                <input type="password" id="newPassword" class="form-control " placeholder="Introduce nueva contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>
     </div>

    <script src="/js/mailin.js"></script>