<div class="dropdown">
  <button
    class="btn btna"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i   class="far fa-user"></i>

  </button>
  <div
    class="dropdown-menu"
    style=" color:white;  background-color: #ffffff00;"
    aria-labelledby="dropdownMenuButton1"
  >
    <a  class="dropdown-item" style=" color:white;  background-color: #ffffff00;" href="/registro">Sing in</a>
    <a  class="dropdown-item" style=" color:white;  background-color: #ffffff00;" href="/login">Sing up</a>
    <a  class="dropdown-item" style=" color:white;  background-color: #ffffff00;" href="/perfil">Perfil</a>
<button type="button" class="dropdown-item" style="color:white; background-color: #ffffff00;" id="logout">Logout</button>
    <a  class="dropdown-item" style=" color:white;  background-color: #ffffff00;" href="/api-docs">Documentacion </a>

  </div>
</div>

<script src="/js/menu.js"></script>